.header-container{
    /* width: 1200px; */
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    padding-left: 200px;
    padding-right: 200px;
}
.header-button {
    background-color: white;
    color: #9C87EF;
    padding: 16px;
    font-size: 16px;
    border: none;
}

.header-button-container {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #9C87EF;
    width: 150px;
    margin-left: -30px;
    box-sizing: border-box;
    font-size: 13px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: white;
    padding: 10px 13px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: #767DF7;}

.header-button-container:hover .dropdown-content {display: block;}
.header-button-container:hover .header-button {
    border-radius: 0px;
    background: none;
    color: #9C87EF;
}

.header-button-container:hover .header-button {background-color: white;}
.header{
    height: 74px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
    margin-bottom: 20px;
}
.burger img{
    display: none;
    width: 30px;
    height: 30px;
}
.burger{
    display: none;
}
.header-logo{
    width: 266px;
    height: 74px;
}
.header-button{
    color: #fff;
    cursor: pointer;
    background: linear-gradient(180deg, #9C87EF 0%, #7C7FF6 100%);
    height: 42px;
    border-radius: 23px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 20px;
    font-size: 10px;
}
.header-buttons{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 22px;
}

@media screen and (min-width: 1600px) {
    .header-button{
        height: 40px;
        font-size: 13px;
    }
    .header-logo{
        width: 280px;
        height: 80px;
    }
}
@media screen and (max-width: 1405px) {
    .header-button{
        height: 30px;
        font-size: 9px;
    }
    .header-logo{
        width: 190px;
        height: 50px;
    }
}
@media screen and (max-width: 1280px) {
    .header-buttons{
        gap: 15px;
    }
    .header-button{
        height: 25px;
        font-size: 8px;
    }
}
@media screen and (max-width: 1220px) {
    .header-container{
        padding-left: 100px;
        padding-right: 100px;
    }
    .header-button{
        height: 30px;
        font-size: 10px;
    }
    .header-logo{
        width: 230px;
        height: 66px;
    }
}
@media screen and (max-width: 1130px) {
    .header-container{
        padding-left: 50px;
        padding-right: 50px;
    }
}

@media screen and (max-width: 1035px) {
    .header-button{
        height: 25px;
        font-size: 7px;
    }
    .header-logo{
        width: 185px;
        height: 50px;
    }

}
@media screen and (max-width: 900px) {
    .header-buttons{
        gap: 10px;
    }
    .header-logo{
        width: 160px;
        height: 44px;
    }

}
@media screen and (max-width: 800px) {
    .header-buttons{
        display: none;
    }
    .burger{
        display: flex;
    }
    .burger img{
        display: flex;
    }
}